<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30757229116-ftitsek7m3rgmepssus0u2okrg1i7mja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30757229116-ftitsek7m3rgmepssus0u2okrg1i7mja</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>30757229116-otvdqvqhkn94san0ov8h9o9tvc1hk4n7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ1smTTFEY2GNkzS43qaS_Ib7zus6MR98</string>
	<key>GCM_SENDER_ID</key>
	<string>30757229116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harbordev.surveyapp</string>
	<key>PROJECT_ID</key>
	<string>black-book-survey-app</string>
	<key>STORAGE_BUCKET</key>
	<string>black-book-survey-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30757229116:ios:16396a800c8cc25e7c6939</string>
	<key>DATABASE_URL</key>
	<string>https://black-book-survey-app.firebaseio.com</string>
</dict>
</plist>